//font
$font1: #2A9C55;
$font2: #804624;
$bg:#F9EDD4;
$bk:rgb(20, 20, 20);
$pinred:#FD8D8D;
$pinblue:#83EDED;
$pinpurple:#C98DFD;
$pinyellow:#FDDF8D;
$logo-font: Georgia, 'Times New Roman', Times, serif;

@mixin font($color,$size){
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',
    YuGothic,'Yu Gothic',
    'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    color: $color;
    font-size: $size;
    text-align: justify;
}

//bg
@mixin bg1 {
    background-color: #F9EDD4;
    background-image: -webkit-linear-gradient(45deg,  #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%),
                      -webkit-linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
    background-image: linear-gradient(45deg,  #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%),
                      linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
    background-size: 60px 60px;
    -webkit-background-size: 20px 20px;
    background-position: 0 0, 30px 30px;
}
@mixin bg2 {
    background-color: rgb(255, 255, 255);
    margin: 0 32px;
}

//img
@mixin img {
    width: 100%;
    height: auto;
    border-radius: 5px;    
}
@mixin img-view { 
    width: 60%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 1px 1px 10px 0px rgba($font2,0.25);   
}

@mixin flex {
    display: flex;
    justify-content:center;
    align-items: center;    
}

@mixin pin($svg) {
    content: "";
    display: inline-block;
    width: 29px;/*画像の幅*/
    height: 50px;/*画像の高さ*/
    background-image: $svg;
    background-size: contain;
    vertical-align: middle;
    margin: 0 2%;
}

@mixin box($color1,$color2,$left) { 
    position: relative;
    width: 90%;
    margin: 1.5em auto;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    font-size: 16px;
    background: rgba($color1, 0.2);
    border: dashed 2px $color1;
    border-radius: 10px;
    box-sizing: border-box;   
    &::before{
        content: "";
        position: absolute;
        top: -24px;
        left: $left;
        margin-left: -15px;
        border: 12px solid transparent;
        border-bottom: 12px solid $color2;
        z-index: 2;
    }
    &::after{
        content: "";
        position: absolute;
        top: -30px;
        left: $left;
        margin-left: -17px;
        border: 14px solid transparent;
        border-bottom: 14px solid $color1;
        z-index: 1;
    }
}

@mixin catch($top,$left) {
    width: 25%;
    position:absolute;
    top:$top;
    left:$left;
    border: solid 5px #fff;
    box-shadow: 1px 1px 10px 0px rgba($font2,0.25); 
}