@import"variables";
html{
    scroll-behavior: smooth;
    
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    padding: 1% 5%;
    background-color: rgba(249, 237, 212, 0.699);
    nav ul{
        display: flex;
        li{
            margin: 0 16px;
        }
    }
}

#top{
    position:relative;
    h2{
        @include font($font1,64px);
        position:absolute;
        top:40%;
        left: 20%;
    }
    img{
        width: 100%;

    }
}

#profile{
    @include bg1; 
    line-height: 2;
    div{
        @include bg2;
        h2{
            @include font($font1,32px);
            font-weight: bolder;
            padding: 2% 5% 0;
        }
        h3{
            @include font($font1,24px);
            padding: 0 5%;
        }
        ul{
            li{
                padding: 5% 56px;
                ul{
                    @include flex;
                    justify-content: space-between;
                    li{
                        padding: 0;
                        &.text-li{
                            width: 60%;
                        } 
                        &.img-li{
                            width: 40%;
                            text-align: center;
                        }
                        h3{
                            @include font($bk,20px);
                            font-weight: bolder;
                            padding: 0 5%;
                        }
                        p{
                            @include font($bk,16px);
                            padding: 5%;
                        }
                        img{
                            @include img-view;
                            width: 80%;
                        }
                        video{
                            width: 100%;
                            height: auto;
                        }
                    }      
                }       
            }
        }
    }
}

#point{
    @include bg1;  
    line-height: 2;
    div{
        @include bg2;
        h2{
            @include font($font1,32px);
            font-weight: bolder;
            line-height: 1;
            padding: 3% 5% 0;
        }
        ul{
            @include flex;
            align-items:baseline;
                padding: 5% 0;
            li{
                width: 32%;
                padding: 1%;
                text-align: center;
                h4{
                    @include font($bk,16px);
                    font-weight: bolder;
                    text-align: center;
                    padding: 5% 0;
                    &.p1{
                        &:before{
                            @include pin(url(../images/red.svg));
                        }
                    }
                    &.p2{
                        &:before{
                            @include pin(url(../images/blue.svg));
                        }
                    }
                    &.p3{
                        &:before{
                            @include pin(url(../images/yellow.svg));
                        }
                    }
                    
                }
                p{
                    @include font($bk,14px);
                    padding: 5% 8% 0;
                    text-align: justify;
                }
                img{
                    @include img-view;
                } 
            }
        }
    }
}

#nayami{
    @include bg1;
    line-height: 2;
    div{
        @include bg2;
        h2{
            @include font($font1,32px);
            font-weight: bolder;
            padding: 2% 5%;
            text-align: center;
        }
        ul{
            li{
                padding: 5% 56px;
                    @include flex;
                    justify-content: space-between;
                    h3{
                        @include font($bk,20px);
                        padding: 0;
                    }
                    p{
                        @include font($bk,16px);
                        padding: 3% 0;
                    }
                    img{
                        @include img;
                        width: 50%;
                        border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
                    }          
            }
        }
    }
}