@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 1% 5%;
  background-color: rgba(249, 237, 212, 0.699);
}
header h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #2A9C55;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 16px;
}

#top {
  position: relative;
  width: 100%;
  height: 678px;
  background: url("../images/img1.jpg");
  background-size: cover;
}
#top div {
  position: absolute;
  width: 100%;
  height: 678px;
  background: rgba(51, 51, 51, 0.25);
  text-align: center;
  padding-top: 200px;
}
#top div h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 80px;
  text-align: justify;
  letter-spacing: 0.05em;
  position: absolute;
  top: 40%;
  left: 10%;
  text-shadow: 0 0 15px #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#top div p {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 40px;
  text-align: justify;
  letter-spacing: 0.1em;
  position: absolute;
  top: 55%;
  left: 11%;
  text-shadow: 0 0 15px #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#profile {
  background-color: #F9EDD4;
  background-image: linear-gradient(45deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%), linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  background-size: 60px 60px;
  -webkit-background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  line-height: 2;
}
#profile div {
  background-color: white;
  margin: 0 32px;
}
#profile div h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 32px;
  text-align: justify;
  font-weight: bolder;
  padding: 2% 5% 0;
}
#profile div h3 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 24px;
  text-align: justify;
  padding: 0 5%;
}
#profile div ul li {
  padding: 5% 56px;
}
#profile div ul li ul {
  position: relative;
}
#profile div ul li ul li {
  padding: 0;
}
#profile div ul li ul li.text-li {
  padding: 3%;
  margin: 0 -15px;
  mix-blend-mode: multiply;
}
#profile div ul li ul li.text-li.li1 {
  background-color: #FD8D8D;
  border-radius: 50px;
  width: 100%;
}
#profile div ul li ul li.text-li.li2 {
  background-color: #83EDED;
  border-radius: 80% 30% 50% 50%/50%;
  position: absolute;
  width: 35%;
  left: 0%;
  top: 30%;
}
#profile div ul li ul li.text-li.li3 {
  background-color: #C98DFD;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  position: absolute;
  width: 42%;
  left: 66%;
  top: 50%;
}
#profile div ul li ul li.img-li {
  width: 40%;
  margin: 1% auto;
  text-align: center;
}
#profile div ul li ul li.img-li img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(128, 70, 36, 0.25);
  width: 78%;
}
#profile div ul li ul li h3 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 20px;
  text-align: justify;
  font-weight: bolder;
  padding: 0 5%;
}
#profile div ul li ul li p {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 16px;
  text-align: justify;
  padding: 5%;
}
#profile div ul li ul li video {
  width: 100%;
  height: auto;
}

#point {
  background-color: #F9EDD4;
  background-image: linear-gradient(45deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%), linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  background-size: 60px 60px;
  -webkit-background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  line-height: 2;
}
#point div {
  background-color: white;
  margin: 0 32px;
}
#point div h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 32px;
  text-align: justify;
  font-weight: bolder;
  text-align: center;
  line-height: 1;
  padding: 3% 5% 0;
  position: relative;
}
#point div h2:before {
  position: absolute;
  bottom: -15px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  border-radius: 3px;
  background: #2A9C55;
}
#point div ul li {
  padding: 5% 0;
}
#point div ul li ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#point div ul li ul li {
  padding: 0;
}
#point div ul li ul li.text-li {
  width: 50%;
  background-color: #fcf6e9;
  border-radius: 20px;
  height: 300px;
  padding: 2%;
}
#point div ul li ul li.text-li h4 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 20px;
  text-align: justify;
  font-weight: bolder;
  text-align: center;
  padding: 3% 0;
}
#point div ul li ul li.text-li h4.p1:before {
  content: "";
  display: inline-block;
  width: 29px;
  /*画像の幅*/
  height: 50px;
  /*画像の高さ*/
  background-image: url(../images/red.svg);
  background-size: contain;
  vertical-align: middle;
  margin: 0 2%;
}
#point div ul li ul li.text-li h4.p2:before {
  content: "";
  display: inline-block;
  width: 29px;
  /*画像の幅*/
  height: 50px;
  /*画像の高さ*/
  background-image: url(../images/blue.svg);
  background-size: contain;
  vertical-align: middle;
  margin: 0 2%;
}
#point div ul li ul li.text-li h4.p3:before {
  content: "";
  display: inline-block;
  width: 29px;
  /*画像の幅*/
  height: 50px;
  /*画像の高さ*/
  background-image: url(../images/yellow.svg);
  background-size: contain;
  vertical-align: middle;
  margin: 0 2%;
}
#point div ul li ul li.text-li p {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 16px;
  text-align: justify;
  padding: 2%;
}
#point div ul li ul li.img-li {
  width: 40%;
  text-align: center;
}
#point div ul li ul li.img-li img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(128, 70, 36, 0.25);
}

#nayami {
  background-color: #F9EDD4;
  background-image: linear-gradient(45deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%), linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  background-size: 60px 60px;
  -webkit-background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  line-height: 2;
}
#nayami div {
  background-color: white;
  margin: 0 32px;
  padding: 5%;
}
#nayami div h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 32px;
  text-align: justify;
  font-weight: bolder;
  padding: 2% 5%;
  text-align: center;
}
#nayami div .question {
  display: flex;
}
#nayami div .question li {
  position: relative;
  width: 100%;
  height: 240px;
  background: url("../images/img1.jpg");
  background-size: cover;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  margin: 1%;
}
#nayami div .question li div {
  position: absolute;
  width: 100%;
  height: 240px;
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  padding-top: 100px;
  margin: 0;
}
#nayami div .question li div h3 {
  color: #ffffff;
}
#nayami div .box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 90%;
  margin: 1.5em auto;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  font-size: 16px;
  background: rgba(253, 141, 141, 0.2);
  border: dashed 2px #FD8D8D;
  border-radius: 10px;
  box-sizing: border-box;
}
#nayami div .box::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 10%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #ffe8e8;
  z-index: 2;
}
#nayami div .box::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 10%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #FD8D8D;
  z-index: 1;
}
#nayami div .box.box2 {
  position: relative;
  width: 90%;
  margin: 1.5em auto;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  font-size: 16px;
  background: rgba(131, 237, 237, 0.2);
  border: dashed 2px #83EDED;
  border-radius: 10px;
  box-sizing: border-box;
}
#nayami div .box.box2::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #e7fbfb;
  z-index: 2;
}
#nayami div .box.box2::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #83EDED;
  z-index: 1;
}
#nayami div .box.box3 {
  position: relative;
  width: 90%;
  margin: 1.5em auto;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  font-size: 16px;
  background: rgba(253, 223, 141, 0.2);
  border: dashed 2px #FDDF8D;
  border-radius: 10px;
  box-sizing: border-box;
}
#nayami div .box.box3::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 90%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid #fff9e8;
  z-index: 2;
}
#nayami div .box.box3::after {
  content: "";
  position: absolute;
  top: -30px;
  left: 90%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-bottom: 14px solid #FDDF8D;
  z-index: 1;
}
#nayami div .box .text-li {
  width: 60%;
}
#nayami div .box .text-li p {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 16px;
  text-align: justify;
}
#nayami div .box .img-li {
  width: 30%;
  text-align: center;
}
#nayami div .box .img-li img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(128, 70, 36, 0.25);
  width: 70%;
}/*# sourceMappingURL=style.css.map */