@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  padding: 1% 5%;
  background-color: rgba(249, 237, 212, 0.699);
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 16px;
}

#top {
  position: relative;
}
#top h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 64px;
  text-align: justify;
  position: absolute;
  top: 40%;
  left: 20%;
}
#top img {
  width: 100%;
}

#profile {
  background-color: #F9EDD4;
  background-image: linear-gradient(45deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%), linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  background-size: 60px 60px;
  -webkit-background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  line-height: 2;
}
#profile div {
  background-color: #f9edd4;
  margin: 0 64px;
}
#profile div h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 32px;
  text-align: justify;
  font-weight: bolder;
  padding: 2% 5% 0;
}
#profile div h3 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 24px;
  text-align: justify;
  padding: 0 5%;
}
#profile div ul li {
  padding: 5% 56px;
}
#profile div ul li ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#profile div ul li ul li {
  padding: 0;
}
#profile div ul li ul li.text-li {
  width: 60%;
}
#profile div ul li ul li.img-li {
  width: 40%;
  text-align: center;
}
#profile div ul li ul li h3 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 20px;
  text-align: justify;
  font-weight: bolder;
  padding: 0 5%;
}
#profile div ul li ul li p {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 16px;
  text-align: justify;
  padding: 5%;
}
#profile div ul li ul li img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(128, 70, 36, 0.25);
  width: 80%;
}
#profile div ul li ul li video {
  width: 100%;
  height: auto;
}

#point {
  background-color: #F9EDD4;
  background-image: linear-gradient(45deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%), linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  background-size: 60px 60px;
  -webkit-background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  line-height: 2;
}
#point div {
  background-color: #f9edd4;
  margin: 0 64px;
}
#point div h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 32px;
  text-align: justify;
  font-weight: bolder;
  line-height: 1;
  padding: 3% 5% 0;
}
#point div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline;
  padding: 5% 0;
}
#point div ul li {
  width: 32%;
  padding: 1%;
  text-align: center;
}
#point div ul li h4 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 16px;
  text-align: justify;
  font-weight: bolder;
  text-align: center;
  padding: 5% 0;
}
#point div ul li h4.p1:before {
  content: "";
  display: inline-block;
  width: 29px;
  /*画像の幅*/
  height: 50px;
  /*画像の高さ*/
  background-image: url(../images/red.svg);
  background-size: contain;
  vertical-align: middle;
  margin: 0 2%;
}
#point div ul li h4.p2:before {
  content: "";
  display: inline-block;
  width: 29px;
  /*画像の幅*/
  height: 50px;
  /*画像の高さ*/
  background-image: url(../images/blue.svg);
  background-size: contain;
  vertical-align: middle;
  margin: 0 2%;
}
#point div ul li h4.p3:before {
  content: "";
  display: inline-block;
  width: 29px;
  /*画像の幅*/
  height: 50px;
  /*画像の高さ*/
  background-image: url(../images/yellow.svg);
  background-size: contain;
  vertical-align: middle;
  margin: 0 2%;
}
#point div ul li p {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 14px;
  text-align: justify;
  padding: 5% 8% 0;
  text-align: justify;
}
#point div ul li img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(128, 70, 36, 0.25);
}

#nayami {
  background-color: #F9EDD4;
  background-image: linear-gradient(45deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%), linear-gradient(-135deg, #fff 25%, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff 75%);
  background-size: 60px 60px;
  -webkit-background-size: 20px 20px;
  background-position: 0 0, 30px 30px;
  line-height: 2;
}
#nayami div {
  background-color: #f9edd4;
  margin: 0 64px;
}
#nayami div h2 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #2A9C55;
  font-size: 32px;
  text-align: justify;
  font-weight: bolder;
  padding: 2% 5%;
  text-align: center;
}
#nayami div ul li {
  padding: 5% 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
#nayami div ul li h3 {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 20px;
  text-align: justify;
  padding: 0;
}
#nayami div ul li p {
  font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN", YuGothic, "Yu Gothic", "ヒラギノ角ゴシック", "Hiragino Sans", sans-serif;
  color: #141414;
  font-size: 16px;
  text-align: justify;
  padding: 3% 0;
}
#nayami div ul li img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  width: 50%;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}/*# sourceMappingURL=style.css.map */